body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a.active {
  background-color: #d0d0d0;
}

.dateLabel {
  color: rgb(96,125,139);
  font-size: 12px;
}
.SingleDatePickerInput {
  border: 0px;
}
.SingleDatePicker__picker {
  position: static;
}
.DayPicker__week-header {
  top: 50px;
}
.SingleDatePicker {
  display: block;
}

.SingleDatePicker .SingleDatePickerInput .DateInput {
  color: #9a9a9a;
  font-size: 14px;
  width: auto;
}

.DateInput--with-caret::before, .DateInput--with-caret::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.social-login-text {
  padding: 5px;
}

.social-login-icon {
  height: 29px;
  width: 29px;
}

.auth-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.auth-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: baseline;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-self: stretch;
  padding: 16px;
  height: 115px;
}

.auth-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
